@use "bootstrap/scss/functions" as *;
@use "bootstrap/scss/variables" as *;
@use "bootstrap/scss/mixins" as *;

// Custom colors
$light-grey: #a8a49c;

// Add custom font sizes: fs-7
$custom-font-sizes: (
  7: $font-size-base * 0.8,
);
$font-sizes: map-merge($font-sizes, $custom-font-sizes);

// Import Bootstrap using relative path to node_modules
@import "../../node_modules/bootstrap/scss/bootstrap";
