// Functions and variables first
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

// Your variable overrides
$light-grey: #a8a49c;
$custom-font-sizes: (
        7: 0.8 * 1rem
);
$font-sizes: map-merge($font-sizes, $custom-font-sizes);
// Then the rest of Bootstrap
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/bootstrap";
